@model eShopSolution.ViewModels.Common.PagedResultBase
@{
    var urlTemplate = Url.Action() + "?pageIndex={0}";
    var request = ViewContext.HttpContext.Request;


    foreach (var key in request.Query.Keys)
    {
        if (key == "pageIndex")
        {
            continue;
        }
        if (request.Query[key].Count > 1)
        {
            foreach (var item in (string[])request.Query[key])
            {
                urlTemplate += "&" + key + "=" + item;
            }
        }
        else
        {
            urlTemplate += "&" + key + "=" + request.Query[key];
        }
    }


    var startIndex = Math.Max(Model.PageIndex - 5, 1);
    var finishIndex = Math.Min(Model.PageIndex + 5, Model.PageCount);

}
<h1>@urlTemplate</h1>

@if (Model.PageCount > 1)
{
    <div class="pagination-section text-center wow fadeInDown animated">
        <a href="#" class="prev page-numbers"><i class="fa fa-angle-left"></i></a>
        <span class="page-numbers current" aria-current="page">@startIndex</span>
        <a href="#" class="page-numbers">2</a>
        <a href="#" class="page-numbers">3</a>
        <a href="#" class="page-numbers">4</a>
        <a href="#" class="page-numbers">@finishIndex</a>
        <a href="#" class="next page-numbers"><i class="fa fa-angle-right"></i></a>
    </div>
}